.bg{
    background-image: url("../assest/personas-que-trabajan-computadora-portatil-hogar-oficina-mesa_188928-12.jpg");
    background-position: center center;
    background-repeat:no-repeat;
}
body{
    background: #ffe259;
    background: linear-gradient(to right, #ffa721,#ffe259);
}